/*alternatywna wybrana czcionka*/
/*font-family: 'Roboto', sans-serif;*/
body{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin: 0;
   
}
#Omnie{
    position: fixed;
    width: 100%;
    background-color: aqua;
    z-index: 10;
   
}
#list{
    text-align: right;
    color: green; 
    padding: 0; 
   
}
nav>ul li{
    display: inline;
    font-size: 20px;
    padding: 30px;
}
header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/header-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}


#center{
    width: 565px;
    height: 120px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; 
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    text-align: center;
    margin: 0 auto;
    line-height: 70px;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 0;
}

.art {
     display: inline-block;
     width: 50%;
     height: 50%; 
     float: left;
}
.art img{
    width: 50%;
    height: 50%;
}