/*alternatywna wybrana czcionka*/
/*font-family: 'Roboto', sans-serif;*/
body{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin: 0;
}
#Omnie{
    position: fixed;
    width: 100%;
    background-color: aqua;
}
#list{
    text-align: right;
    color: green; 
    padding: 0;  
}
nav>ul li{
    display: inline;
    font-size: 20px;
    padding: 30px;
}
#headerbackground{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/header-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
}